@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply
    font-noto text-[#232428]
  }
}

@layer components {
  .headerLink {
    @apply
    cursor-pointer
    opacity-75
    transition
    hover:opacity-100 
    hover:font-bold
  }

  .headerIcon {
    @apply
    h-6
    w-6
    cursor-pointer
    opacity-75
    transition
    hover:opacity-100
    hover:font-bold
    hover:h-7
    hover:w-7
    hover:text-yellow-900
  }

  .link {
    @apply
    relative 
    cursor-pointer
    text-lg
    font-medium
    before:absolute
    before:inset-x-0
    before:-bottom-1.5
    before:h-0.5
    before:origin-left
    before:scale-x-0
    before:transform
    before:rounded-bl
    before:bg-red-600
    before:transition-all
    before:duration-200
    hover:before:scale-100;
  }

  .borderGradient{
    text-align: center;
    padding-bottom: 5px;
    background: linear-gradient(to right, red, yellow, black) left bottom no-repeat;
    background-size: 100% 2px;

  }

  .shopping {
    @apply
    flex
    h-16
    w-16
    flex-shrink-0
    cursor-pointer
    items-center
    justify-center
    rounded-full
    bg-gradient-to-r from-red-600 via-yellow-500 to-black
  }

  .tabPanel{
    @apply
    grid
    grid-cols-1
    gap-8
    sm:grid-cols-2
    md:grid-cols-1
    lg:grid-cols-2
    xl:grid-cols-3;    
  }

  .shoppingCartOut {
    @apply
    fixed
    bottom-10
    right-10
    z-50
    flex
    h-16
    w-16
    cursor-pointer
    items-center
    justify-center
    rounded-full
    bg-gray-300;
  }

  .shoppingCartIn {
    @apply
    absolute
    -right-2
    -top-2
    z-50
    flex
    h-7
    w-7
    items-center
    justify-center
    rounded-full
    bg-gradient-to-r from-red-600 via-yellow-500 to-black
    text-[10px]
    text-white;
  }

  .underConstruction {
    @apply
    relative
    min-h-screen
    bg-cover
    bg-no-repeat 
    bg-fixed bg-center
    bg-[url('../assets/images/background.png')]  
  }
  .underContainer {
    @apply
    top-1/2
    absolute
    -translate-y-1/2
    /* h-full */
    font-monkey
    mx-4
    font-semibold
  }

  .underContainer h1 {
    @apply
    text-5xl    
  }

  .underContainer h1 span {
    @apply
    bg-gradient-to-r 
    from-red-700 
    via-yellow-400 
    to-black 
    bg-clip-text 
    text-transparent
    animate-text
  }

  .launchTime {
    @apply
    flex
  }

  .launchTime div {
    @apply
    basis-[100px]
    /* bg-gray-600 bg-opacity-50 */
    backdrop-contrast-200 bg-gray-400/75
    m-4
    text-center
    rounded-md
  }

  .launchTime p {
    @apply
    text-2xl
    
  }

  .underImage {
    @apply
    absolute
    right-[10%]
    bottom-1/4
    hidden 
    w-[600px] 
    h-[300px] 
    md:inline 
    lg:w-[800px] 
    lg:h-[400px]
  }

}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
